.one {
    order: 1;
}

.two {
    order: 2;
}

.three {
    order: 3;
}

.four {
    order: 4;
}

.five {
    order: 5;
}

.six {
    order: 6;
}

.seven {
    order: 7;
}

.eight {
    order: 8;
}

.nine {
    order: 9;
}

.ten {
    order: 10;
}




.eleven {
    order: 11;
}

.twelve {
    order: 12;
}

.thirteen {
    order: 13;
}


.fourteen {
    order: 14;
}


.fifteen {
    order: 15;
}


.sixteen {
    order: 16;
}


.seventeen {
    order: 17;
}


.eighteen {
    order: 18;
}


.nineteen {
    order: 19;
}


.twenty {
    order: 20;
}





.twenty-one {
    order: 21;
}

.twenty-two {
    order: 22;
}

.twenty-three {
    order: 23;
}

.twenty-four {
    order: 24;
}

.twenty-five {
    order: 25;
}

.twenty-six {
    order: 26;
}

.twenty-seven {
    order: 27;
}

.twenty-eight {
    order: 28;
}

.twenty-nine {
    order: 29;
}

.thirty {
    order: 30;
}




.thirty-one {
    order: 31;
}

.thirty-two {
    order: 32;
}

.thirty-three {
    order: 33;
}

.thirty-four {
    order: 34;
}

.thirty-five {
    order: 35;
}

.thirty-six {
    order: 36;
}

.thirty-seven {
    order: 37;
}

.thirty-eight {
    order: 38;
}

.thirty-nine {
    order: 39;
}

.forty {
    order: 40;
}




.forty-one {
    order: 41;
}

.forty-two {
    order: 42;
}

.forty-three {
    order: 43;
}

.forty-four {
    order: 44;
}

.forty-five {
    order: 45;
}

.forty-six {
    order: 46;
}

.forty-seven {
    order: 47;
}

.forty-eight {
    order: 48;
}

.forty-nine {
    order: 49;
}

.fifty {
    order: 50;
}




.fifty-one {
    order: 51;
}

.fifty-two {
    order: 52;
}

.fifty-three {
    order: 53;
}

.fifty-four {
    order: 54;
}

.fifty-five {
    order: 55;
}

.fifty-six {
    order: 56;
}

.fifty-seven {
    order: 57;
}

.fifty-eight {
    order: 58;
}

.fifty-nine {
    order: 59;
}

.sixty {
    order: 60;
}




.sixty-one {
    order: 61;
}

.sixty-two {
    order: 62;
}

.sixty-three {
    order: 63;
}

.sixty-four {
    order: 64;
}

.sixty-five {
    order: 65;
}

.sixty-six {
    order: 66;
}

.sixty-seven {
    order: 67;
}

.sixty-eight {
    order: 68;
}

.sixty-nine {
    order: 69;
}

.seventy {
    order: 70;
}




.seventy-one {
    order: 71;
}

.seventy-two {
    order: 72;
}

.seventy-three {
    order: 73;
}

.seventy-four {
    order: 74;
}

.seventy-five {
    order: 75;
}

.seventy-six {
    order: 76;
}

.seventy-seven {
    order: 77;
}

.seventy-eight {
    order: 78;
}

.seventy-nine {
    order: 79;
}

.eighty {
    order: 80;
}




.eighty-one {
    order: 81;
}

.eighty-two {
    order: 82;
}

.eighty-three {
    order: 83;
}

.eighty-four {
    order: 84;
}

.eighty-five {
    order: 85;
}

.eighty-six {
    order: 86;
}

.eighty-seven {
    order: 87;
}

.eighty-eight {
    order: 88;
}

.eighty-nine {
    order: 89;
}

.ninety {
    order: 90;
}




.ninety-one {
    order: 91;
}

.ninety-two {
    order: 92;
}

.ninety-three {
    order: 93;
}

.ninety-four {
    order: 94;
}

.ninety-five {
    order: 95;
}

.ninety-six {
    order: 96;
}

.ninety-seven {
    order: 97;
}

.ninety-eight {
    order: 98;
}

.ninety-nine {
    order: 99;
}

.hundred {
    order: 100;
}